extend ../layout

block content
  form(action="/users", method="post")
    div.input-group
      label.input-group-addon username &nbsp; &nbsp;
      input.form-control(name="username", type="text")

    div.input-group
      label.input-group-addon email &nbsp; &nbsp;
      input.form-control(name="email", type="text")

    div.input-group
      label.input-group-addon password &nbsp; &nbsp;
      input.form-control(name="password", type="password")

    div.input-group
      button 注册

  a(href='/users/login') 已有账号，直接登陆

