extend ../layout

block content
  form(action="", method="post")
    div
      label username &nbsp; &nbsp;
      input(username="username", type="text")
    div
      label password &nbsp; &nbsp;
      input(password="password", type="password")
